<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> page/title}}</title>
    <link rel="stylesheet" href="/css/g.css">
    <link rel="stylesheet" href="/css/markdown.css">
</head>
<body>
{{{body}}}
</body>
</html>