<div class="blog-wrap">
    {{> page/header}}

    <div class="container-wrap">
        <div class="layout-column1">
            {{> page/detail}}
        </div>
        <div class="layout-column2">
            {{> page/intro}}
        </div>
    </div>
</div>