<div class="mod-intro">
    <h2 class="mod-title">Who is ...?</h2>
    <div class="avatar"><img src="http://temp.im/75x75" alt=""></div>
    <p>Got into programming about 5 years ago and completely fell in love with it. The productivity you have working with the web platform is incredible. Going from idea to production can be done in a matter of hours. The momentum of new standards, new practices, ideas and solutions also keeps me on my toes, as there is always something new to dive into. The greatest thing about the web as a platform though is its open source community. Love contributing with ideas and thoughts on current and new developments in the world of web applications.</p>
</div>
<div class="mod-intro">
    <h2 class="mod-title">Projects</h2>
    <div class="item">
        <h3><a href="">Emptybox</a></h3>
        <p>An state controller with its own debugger</p>
    </div>
</div>