<div class="article-list-wrap">
    <div class="article-list-item">
        <div class="article-date">
            <span class="article-day">December 17.</span><span class="article-year">2015</span>
        </div>
        <div class="aritcle-title">
            <h2><a href="">Exploring Elm part2</a></h2>
        </div>
        <div class="article-content">
            <p>In the previous article we took a look at Elm and how we can structure Elm applications. It is important to divide logic into different files and allow views to share state and trigger any actions to change the state in the application. This is based on ideas from Flux, which allows us to structure and scale applications without causing a lot of pain.</p>
        </div>
    </div>
    <div class="article-list-item">
        <div class="article-date">
            <span class="article-day">December 17.</span><span class="article-year">2015</span>
        </div>
        <div class="aritcle-title">
            <h2><a href="">Exploring Elm part2</a></h2>
        </div>
        <div class="article-content">
            <p>In the previous article we took a look at Elm and how we can structure Elm applications. It is important to divide logic into different files and allow views to share state and trigger any actions to change the state in the application. This is based on ideas from Flux, which allows us to structure and scale applications without causing a lot of pain.</p>
        </div>
    </div>
    <div class="article-list-item">
        <div class="article-date">
            <span class="article-day">December 17.</span><span class="article-year">2015</span>
        </div>
        <div class="aritcle-title">
            <h2><a href="">Exploring Elm part2</a></h2>
        </div>
        <div class="article-content">
            <p>In the previous article we took a look at Elm and how we can structure Elm applications. It is important to divide logic into different files and allow views to share state and trigger any actions to change the state in the application. This is based on ideas from Flux, which allows us to structure and scale applications without causing a lot of pain.</p>
        </div>
    </div>
</div>